<h1>Infografía Ronaldo</h1>
<div class="card">            
      <img src="../../../../assets/img/ronaldo.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">nombre:"Cristiano Ronaldo"</h5>
        <p class="card-text">bio:"futbolista portugués que juega como delantero en el Manchester United Football Club de la Premier League de Inglaterra y en la selección de Portugal, de la cual es su capitán y máximo goleador histórico"</p>      
      </div>
      <div class="card-footer">
        <small class="text-mmuted">img:"assets/img/ronaldo.jpg"</small><br>
        <small class="text-mmuted">nacimiento:"5 de febrero de 1985"</small><br>
        <small class="text-mmuted">seleccion:"Portugal"</small><br>
        <small class="text-mmuted">equipo:"Manchester UNITED"</small>
      </div>
    </div>
    <a [routerLink]="['../home']" class="boton">Home </a>
